@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: Roboto, sans-serif
}

#formulario {
    display: flex;
    justify-content: center
}

form[name=cadastro] {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    border-radius: 2px
}

.campo {
    max-width: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 5px
}

.campo input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2)
}

.campo input[type=email] {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2)
}

.campo label {
    flex-basis: 100%
}

#respostaTel {
    color: red;
    display: none
}

#respostaCPF {
    color: red;
    display: none
}

#respostaCep {
    color: red;
    display: none
}

#respostaCNPJ {
    color: red;
    display: none
}

input[type=submit] {
    width: 150px;
    font-family: Roboto, sans-serif;
    color: #fff;
    border-radius: 28px!important;
    padding: 12px!important;
    border-color: #d0021b!important;
    margin: 8px 0;
    float: right;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    background-image: linear-gradient(to right, #f5515f, #d0021b)
}

input[type=submit]:hover {
    background-color: #aaa
}

@media only screen and (min-width:993px) {
    form[name=cadastro] {
        width: 70%
    }
}