.containerbluedegrade {
    background-image: linear-gradient(#32c5ff, #0091ff)!important;
    padding: 5%;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left
}

.container {
    margin-top: 0!important
}

.imghomemnamesa {
    width: 90px;
    margin: 20px
}

.homemnacadeira {
    margin-top: 2%
}

.calculandoresult {
    color: #4a4a4a;
    padding: 15px;
    font-size: 16px;
    text-shadow: 1px 1px 3px #00000096
}

.container {
    margin-top: 0!important
}

.imghomemnamesa {
    width: 90px;
    margin: 20px
}

.homemnacadeira {
    margin-top: 2%
}

.calculandoresult {
    color: #4a4a4a;
    padding: 15px;
    font-size: 16px;
    text-shadow: 1px 1px 3px #00000096
}

.container {
    margin-top: 20px
}

.well {
    text-align: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 100%;
    line-height: 40px;
    background-color: #fff!important
}

.well .file-input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    font-size: 50px;
    opacity: 0;
    -moz-opacity: 0
}

.well i {
    font-size: 15rem;
    text-shadow: 10px 10px 10px #646464
}

.well .clear i {
    font-size: 2.5rem
}

.popup {
    color: #000
}

img .upload-image {
    width: 100%;
    text-align: center!important
}

.popup-overlay {
    height: 400%
}

img {
    max-width: 100%;
    max-height: 400px
}

* {
    box-sizing: border-box
}

body,
html {
    height: 100%;
    height: 100vh
}

body.loaded {
    animation-name: slideUp;
    animation-duration: 1s;
    animation-fill-mode: both
}

#loader {
    position: relative;
    height: 100%;
    height: 100vh;
    width: 100%;
    background-color: #ffeb07
}

#loading-animation {
    top: 50%;
    color: #fff;
    text-align: center
}

section {
    min-height: 100%;
    min-height: 100vh
}

@keyframes slideUp {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(-100%)
    }
}

.spinner {
    position: relative;
    width: 6rem;
    height: 6rem;
    margin: 0 auto
}

div[class^=curve_] {
    position: absolute;
    transform: rotate(135deg);
    animation: spin 4s infinite
}

.curve_top_left {
    width: 3rem;
    height: 3rem;
    border-top: .5rem solid #fff;
    border-left: .5rem solid #fff;
    border-top-left-radius: 200%;
    top: 0;
    left: 0;
    transform-origin: 100% 100%
}

.curve_top_right {
    width: 2rem;
    height: 2rem;
    border-top: .5rem solid #fff;
    border-right: .5rem solid #fff;
    border-top-right-radius: 200%;
    top: 1rem;
    right: 1rem;
    transform-origin: 0 100%
}

.curve_bottom_left {
    width: 2rem;
    height: 2rem;
    border-bottom: .5rem solid #fff;
    border-left: .5rem solid #fff;
    border-bottom-left-radius: 200%;
    bottom: 1rem;
    left: 1rem;
    transform-origin: 100% 0
}

.curve_bottom_right {
    width: 3rem;
    height: 3rem;
    border-bottom: .5rem solid #fff;
    border-right: .5rem solid #fff;
    border-bottom-right-radius: 200%;
    bottom: 0;
    right: 0;
    transform-origin: 0 0
}

.center_circle {
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2.25rem;
    left: 2.25rem;
    animation: pulse 2s infinite
}

@keyframes spin {
    0% {
        transform: rotate(135deg);
        opacity: 1
    }
    25% {
        opacity: .75
    }
    50% {
        transform: rotate(675deg);
        opacity: 1
    }
    75% {
        opacity: .75
    }
    100% {
        transform: rotate(135deg);
        opacity: 1
    }
}

@keyframes pulse {
    0% {
        opacity: 1
    }
    50% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}




.center {
    color: #d6d6d6;
    text-align: center;
    margin-top: 50px
}

.buttons {
    display: block;
    width: 100%;
    margin-top: 65px;
    text-align: center
}

.buttons a {
    text-decoration: none;
    background-color: gray;
    padding: 8px 25px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.buttons a:hover {
    background-color: #cfcfcf
}

a.next {
    margin-left: 25px
}

a.prev {
    margin-right: 25px
}

.progress {
    width: 100%;
    max-width: 100%;
    margin: 30px auto 0;
    display: table;
    position: relative;
    text-align: center;
    left: 0
}

.progress ul {
    display: table-row
}

.progress ul li {
    background-color: #d6d6d6;
    display: table-cell;
    position: relative;
    line-height: 20px;
    z-index: -3;
    color: #fff;
    text-align: left;
    transition: background-color .75s, color .5s
}

.progress ul li::before {
    content: '';
    width: 40px;
    height: 40px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    left: -15px;
    background-color: #d6d6d6;
    border: solid 5px #d6d6d6;
    index: -9;
    position: absolute;
    display: block;
    top: -10px;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;
    transition: background-color .75s, color .5s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.progress ul li.current {
    display: inline-block;
    width: 100%;
    z-index: -3;
    color: #0e90d2;
    position: relative;
    transition: background-color .75s, color .5s
}

.progress ul li.current::before {
    border: solid 5px #0e90d2;
    background-color: #fff;
    transition: background-color .75s, color .5s;
    -webkit-animation: pulse 3s ease-out;
    -moz-animation: pulse 3s ease-out;
    animation: pulse 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.progress ul li.complete {
    background-color: #0e90d2;
    transition: background-color .75s, color .5s
}

.progress ul li.complete::before {
    background-color: #0e90d2;
    border: 5px solid transparent;
    transition: background-color .75s, color .5s
}

.progress ul li:last-of-type {
    background-color: transparent
}

.progress ul li.complete:last-of-type,
.progress ul li.current:last-of-type {
    background-color: transparent
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1, 1)
    }
    50% {
        -webkit-transform: scale(1.1, 1.1)
    }
    100% {
        -webkit-transform: scale(1, 1)
    }
}

50% {
    transform: scale(1.1, 1.1)
}

100% {
    transform: scale(1, 1)
}

.boxenvieagoradoc {
    text-align: center;
    border-radius: 15px;
    height: 230px;
    max-width: 225px!important;
    min-width: 225px;
    margin-bottom: 35px;
    background-image: linear-gradient(#fff, #c8e7ff)
}

.imagedoc1 {
    padding: 80px 0 30px 0;
    color: #d0021b;
    text-align: center
}

.envieagorabtn {
    position: relative!important;
    margin-top: 32px!important;
    margin-left: 0!important;
    background-image: linear!important;
    color: #fff!important;
    background-image: linear-gradient(to right, #f5515f, #d0021b)!important;
    width: 133px!important;
    border-radius: 28px!important;
    padding: 12px!important;
    border-color: #d0021b!important
}

.containerwhite {
    background-image: linear-gradient(#fff, #c8e7ff);
    font-weight: 400;
    font-size: 1em;
    font-family: Raleway, Arial, sans-serif;
    overflow: hidden;
    min-height: 500px;
    padding: 2%;
}

.documentotext {
    color: #d0021b;
    border-bottom: solid 1px
}

.logotenda2 {
    margin-bottom: 20px
}

.creddispo1 {
    font-size: 35px;
    margin: 0;
    line-height: 40px
}

.creddispo2 {
    font-size: 60px;
    line-height: 40px
}

.extrato {
    margin-top: 3%;
    margin-bottom: 3%;
    text-transform: uppercase
}

.flecha {
    font-size: 20px
}

.falecomagente {
    text-align: center;
    font-size: 35px;
    color: #6d7278
}

.btnwhatsapp {
    background-image: linear-gradient(#5bd365, #21b03a)!important;
    border: none!important;
    width: 250px;
    height: 100px;
    margin: 15px
}

.whatsapptext {
    margin: 0!important
}

.imgwhats {
    width: 18%;
    margin: 3px
}

.btnchat {
    background-image: linear-gradient(#f5515f, #9f041b)!important;
    border: none!important;
    width: 250px;
    height: 100px;
    margin: 15px
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: .3s
}

#myImg:hover {
    opacity: .7
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .9)
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px
}

#caption,
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: .6s;
    animation-name: zoom;
    animation-duration: .6s
}

.enviefoto1 {
    font-size: 15px;
    font-weight: 700
}

.enviefoto2 {
    font-size: 13px;
    font-weight: 100;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: 700;
    transition: .3s;
    color: #f1f1f1!important;
    font-size: 40px!important;
    font-weight: 700!important;
    transition: .3s!important
}

.close:focus,
.close:hover {
    color: #bbb;
    text-decoration: none;
    cursor: pointer
}

.homemcoffee {
    text-align: center
}

.modal {
    background-color: rgba(0, 0, 0, .66)!important
}

@media only screen and (max-width:700px) {
    .modal-content {
        width: 100%
    }
    .containerenviodoc {
        text-align: center!important;
        max-width: 250px!important
    }
    .boxenvieagoradoc {
        margin-bottom: 7%!important
    }
}

@media only screen and (max-width:3000px) {
    .boxenvieagoradoc {
        margin: 1%
    }
}

.form-inline {
    width: 100%
}

.modal-content {
    width: 100%;
    height: 100%
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    padding-top: 80px
}

.progress,
.survey {
    margin: 0 auto;
    width: 40%;
    overflow: hidden;
    position: relative;
    height: 100px
}

.progress {
    height: 20px
}

.survey button {
    position: absolute
}

.next button {
    right: 0;
    top: 20px;
    width: 100%;
    border-radius: 100px;
    background-image: linear-gradient(to right, #f5515f, #d0021b)!important;
    border: none;
    box-shadow: 1px 1px 7px 0 #404141
}

.prev button {
    left: 0;
    top: 20px
}

.bar-item {
    display: inline;
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding: 25px;
    zoom: 1;
    opacity: .6;
    transition: all .5s ease
}

.qid {
    color: #fff;
    font-size: 50px;
    font-weight: 800
}

.popup {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10
}

.popup-overlay {
    background: rgba(0, 0, 0, .9);
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    bottom: 0
}

.popup-content {
    position: absolute;
    background: #fff;
    z-index: 11;
    top: 10%!important;
    padding: 14px;
    margin: 10%;
    top: 100%!important
}

.close-popup {
    display: inline-block;
    position: absolute;
    top: -8px;
    right: -30px;
    font-size: 42px;
    color: red;
    text-decoration: inherit!important
}

.close-popup:hover {
    font-weight: 700;
    color: red
}

.fadeIn {
    animation: fadeIn .5s ease-in both;
    -webkit-animation: fadeIn .5s ease-in both
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
}

.fadeOut {
    animation: fadeOut .5s ease-out both;
    -webkit-animation: fadeOut .5s ease-out both
}

@keyframes fadeOut {
    to {
        opacity: 0
    }
}

@-webkit-keyframes fadeOut {
    to {
        opacity: 0
    }
}

.scaleIn {
    animation: scaleIn .5s ease-in both;
    -webkit-animation: scaleIn .5s ease-in both
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(.5)
    }
}

@-webkit-keyframes scaleIn {
    from {
        opacity: 0;
        -webkit-transform: scale(.5)
    }
}

.scaleOut {
    animation: scaleOut .5s ease-out both;
    -webkit-animation: scaleOut .5s ease-out both
}

@keyframes scaleOut {
    to {
        opacity: 0;
        transform: scale(.5)
    }
}

@-webkit-keyframes scaleOut {
    to {
        opacity: 0;
        -webkit-transform: scale(.5)
    }
}

.scaleUpIn {
    animation: scaleIn .5s ease-in both;
    -webkit-animation: scaleIn .5s ease-in both
}

.scaleUpOut {
    animation: scaleUpOut .5s ease-in both;
    -webkit-animation: scaleUpOut .5s ease-in both
}

@keyframes scaleUpOut {
    to {
        opacity: 0;
        transform: scale(1.2)
    }
}

@-webkit-keyframes scaleUpOut {
    to {
        opacity: 0;
        -webkit-transform: scale(1.2)
    }
}

.scaleDownIn {
    animation: scaleDownIn .5s ease-in both;
    -webkit-animation: scaleDownIn .5s ease-in both
}

.scaleDownOut {
    animation: scaleOut .5s ease-in both;
    -webkit-animation: scaleOut .5s ease-in both
}

@keyframes scaleDownIn {
    from {
        opacity: 0;
        transform: scale(1.2)
    }
}

@-webkit-keyframes scaleDownIn {
    from {
        opacity: 0;
        -webkit-transform: scale(1.2)
    }
}

.slideIn {
    animation: slideIn .5s ease-in both;
    -webkit-animation: slideIn .5s ease-in both
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50%)
    }
}

@-webkit-keyframes slideIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(-50%)
    }
}

.slideOut {
    animation: slideOut .5s ease-out both;
    -webkit-animation: slideOut .5s ease-out both
}

@keyframes slideOut {
    to {
        opacity: 0;
        transform: translateY(50%)
    }
}

@-webkit-keyframes slideOut {
    to {
        opacity: 0;
        -webkit-transform: translateY(50%)
    }
}

.slideLeftIn {
    animation: slideLeftIn .5s ease-in both;
    -webkit-animation: slideLeftIn .5s ease-in both
}

@keyframes slideLeftIn {
    from {
        opacity: 0;
        transform: translateX(-50%)
    }
}

@-webkit-keyframes slideLeftIn {
    from {
        opacity: 0;
        -webkit-transform: translateX(-50%)
    }
}

.slideLeftOut {
    animation: slideLeftOut .5s ease-out both;
    -webkit-animation: slideLeftOut .5s ease-out both
}

@keyframes slideLeftOut {
    to {
        opacity: 0;
        transform: translateX(50%)
    }
}

@-webkit-keyframes slideLeftOut {
    to {
        opacity: 0;
        -webkit-transform: translateX(50%)
    }
}

.flipLeftIn {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: flipLeftIn .5s both ease-out;
    -moz-animation: flipLeftIn .5s both ease-out;
    animation: flipLeftIn .5s both ease-out
}

@-webkit-keyframes flipLeftIn {
    from {
        -webkit-transform: translateZ(-1000px) rotateY(90deg);
        opacity: .2
    }
}

@keyframes flipLeftIn {
    from {
        transform: translateZ(-1000px) rotateY(90deg);
        opacity: .2
    }
}

.flipLeftOut {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: flipLeftOut .5s both ease-in;
    -moz-animation: flipLeftOut .5s both ease-in;
    animation: flipLeftOut .5s both ease-in
}

@-webkit-keyframes flipLeftOut {
    to {
        -webkit-transform: translateZ(1000px) rotateY(-90deg);
        opacity: 0
    }
}

@keyframes flipLeftOut {
    to {
        transform: translateZ(1000px) rotateY(-90deg);
        opacity: 0
    }
}

.flipRightIn {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: flipRightIn .5s both ease-out;
    -moz-animation: flipRightIn .5s both ease-out;
    animation: flipRightIn .5s both ease-out
}

@-webkit-keyframes flipRightIn {
    from {
        -webkit-transform: translateZ(-1000px) rotateY(-90deg);
        opacity: .2
    }
}

@keyframes flipRightIn {
    from {
        transform: translateZ(-1000px) rotateY(-90deg);
        opacity: .2
    }
}

.flipRightOut {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: flipRightOut .5s both ease-in;
    -moz-animation: flipRightOut .5s both ease-in;
    animation: flipRightOut .5s both ease-in
}

@-webkit-keyframes flipRightOut {
    to {
        -webkit-transform: translateZ(1000px) rotateY(90deg);
        opacity: 0
    }
}

@keyframes flipRightOut {
    to {
        transform: translateZ(1000px) rotateY(90deg);
        opacity: 0
    }
}

.rotateIn {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: rotateIn .5s both ease-out;
    -moz-animation: rotateIn .5s both ease-out;
    animation: rotateIn .5s both ease-out
}

@-webkit-keyframes rotateIn {
    from {
        -webkit-transform: translateZ(-3000px) rotateZ(-360deg);
        opacity: 0
    }
}

@-moz-keyframes rotateIn {
    from {
        -moz-transform: translateZ(-3000px) rotateZ(-360deg);
        opacity: 0
    }
}

@keyframes rotateIn {
    from {
        transform: translateZ(-3000px) rotateZ(-360deg);
        opacity: 0
    }
}

.rotateOut {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: rotateOut .5s both ease-in;
    -moz-animation: rotateOut .5s both ease-in;
    animation: rotateOut .5s both ease-in
}

@-webkit-keyframes rotateOut {
    to {
        -webkit-transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0
    }
}

@-moz-keyframes rotateOut {
    to {
        -moz-transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0
    }
}

@keyframes rotateOut {
    to {
        transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0
    }
}

.rotateCubeIn {
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: rotateCubeIn .6s both ease-in;
    -moz-transform-origin: 50% 100%;
    -moz-animation: rotateCubeIn .6s both ease-in;
    transform-origin: 50% 100%;
    animation: rotateCubeIn .6s both ease-in
}

@-webkit-keyframes rotateCubeIn {
    0% {
        opacity: .3;
        -webkit-transform: translateY(-100%) rotateX(90deg)
    }
    50% {
        -webkit-animation-timing-function: ease-out;
        -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg)
    }
}

@-moz-keyframes rotateCubeIn {
    0% {
        opacity: .3;
        -moz-transform: translateY(-100%) rotateX(90deg)
    }
    50% {
        -moz-animation-timing-function: ease-out;
        -moz-transform: translateY(-50%) translateZ(-200px) rotateX(45deg)
    }
}

@keyframes rotateCubeIn {
    0% {
        opacity: .3;
        transform: translateY(-100%) rotateX(90deg)
    }
    50% {
        animation-timing-function: ease-out;
        transform: translateY(-50%) translateZ(-200px) rotateX(45deg)
    }
}

.rotateCubeOut {
    -webkit-transform-origin: 50% 0;
    -webkit-animation: rotateCubeOut .6s both ease-in;
    -moz-transform-origin: 50% 0;
    -moz-animation: rotateCubeOut .6s both ease-in;
    transform-origin: 50% 0;
    animation: rotateCubeOut .6s both ease-in
}

@-webkit-keyframes rotateCubeOut {
    50% {
        -webkit-animation-timing-function: ease-out;
        -webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg)
    }
    100% {
        opacity: .3;
        -webkit-transform: translateY(100%) rotateX(-90deg)
    }
}

@-moz-keyframes rotateCubeOut {
    50% {
        -moz-animation-timing-function: ease-out;
        -moz-transform: translateY(50%) translateZ(-200px) rotateX(-45deg)
    }
    100% {
        opacity: .3;
        -moz-transform: translateY(100%) rotateX(-90deg)
    }
}

@keyframes rotateCubeOut {
    50% {
        animation-timing-function: ease-out;
        transform: translateY(50%) translateZ(-200px) rotateX(-45deg)
    }
    100% {
        opacity: .3;
        transform: translateY(100%) rotateX(-90deg)
    }
}

body {
    font-family: verdana;
    font-size: 12px;
    text-align: center
}

a {
    color: #009fd3;
    text-decoration: none
}

.btn {
    background: #009fd3;
    color: #fff;
    border: 1px solid;
    display: inline-block;
    padding: 5px 20px
}

.btn:hover {
    background: #fff;
    color: #009fd3
}

.popup {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px
}

.popup-content {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d
}